/*Global css*/
* { margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  
    background-color: #86509c;
    /* height: 300px; */
    padding: 58px;

}

.contaner {
  width: 1140px;
  margin: 0px auto;

}

.logo {
  width: 55%;
    margin: -20px auto;
    float: left;
}
}

.menu {
    width: 45%;
  float: left;
}

nav {

}

nav ul {
list-style: none;
margin: 0px 120px;
}

nav ul li {
    display: inline-block;
    margin: 10px 18px;
}

nav ul li a {
text-decoration: none;
color: #fff;
}

.header-two {
    width: 60% color: #fff;
    margin: 36px 372px 80px 315px;
    width: 600px;
}

.header-two h2 {
  text-align: center;
  color: #fff;

}

.btn {
    background-color: #ea7d54;
    color: #fff;
    margin: 46px auto;
    display: block;
    padding: 10px;
    transition: 0.10s ease;
    -webkit-transition: 0.10s ease;
    -moz-transition: 0.10s ease;
    -o-transition: 0.10s ease;
    /*box-shadow: 1px 2px 4px #00bcd4;*/
}

.btn:hover {
  box-shadow: 2px 2px 3px #00bcd4;
}

/*section one S*/
.section-one {
    width: 100%;
    float: left;
    background-color: #17c1a4;
    height: 520px;
}

.title {
    margin: 0px auto;
    display: block;
    width: 545px;
    padding: 50px;
    text-align: center;

}

.title h2 {
  color: #000;
  text-align: center;
  padding: 16px;
  text-transform: uppercase;
}

.title p {
    color: #535252;

}
.sec-one-col {
      width: 21%;
    text-align: center;
    float: left;
    margin: 0px 18px;


}

.sec-one-col h2 {
  padding: 30px;
    color: #fff;

}


.sec-one-col p {
  color: #fff;


  
}
   /*section one E*/ 
   /*section two S*/ 
.section-two {
   width: 100%;
   float: left;
  background: #e7f2f8;
  height: 600px;
     }

     .sec-two-col {
  width: 25%;
  text-align: center;
  float: left;

     }

.sec-two-col img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 20px;
  display: block;
      }

.sec-two-col h2 {
  color: #535252;
  text-transform: uppercase;

    }
  
.sec-two-col h4 {
  color: #00719b; 

   }

.sec-two-col p {
    margin: 25px;

  }

.icons ul {
  list-style: none;

  }

.icons li {
  display: inline-block;
  }

/*section two E*/ 

/*section three S*/ 


.section-tree {
  width: 100%;
  float: left;
  background-color: #fff;
}

.sec-three-col {
  float: left;
  padding: 20px;
  margin: 0px 68px;
}

.sec-three-col h4 {
text-align: center;
margin: 10px;
color: #000;
}


/*section three E*/ 

/*section four S*/
.section-four {
  width: 100%;
  float: left;
  background-color: #ffd075;
}
 .title-two {
    margin: 0px auto;
    display: block;
    width: 545px;
    padding: 50px;
    text-align: center;
 }
 .title-two h2 {
  color: #000;
  padding: 16px;


 }
 .title-two p {
  color: #000;

 }
 .alizali {
    display: block;
    margin: 0px 538px;

 }

 .alizali ul {
  list-style: none;

 }

 .alizali li {
display: inline-block;
 }
   .btn-gray {
    margin: 46px auto;
    display: block;
    padding: 10px;
    background-color: #52505096;
 }

 .sec-four-pccol {
  width: 47%;
    text-align: center;
    float: left;
    margin: 0px 18px;

}
.sec-four-pccol p {
  text-align: center;
}

.sec-four-pccol img {
  padding: 40px 0px 0px 0px;
}
 .bttn {
  margin: 43px auto;
  display: block;
  background-color: #00c89e;
  color: #fff;
  padding: 15px 30px;
  transition: 0.10s ease;
    -webkit-transition: 0.10s ease;
    -moz-transition: 0.10s ease;
    -o-transition: 0.10s ease;
    /*box-shadow: 1px 2px 4px #00bcd4;*/
}



.bttn:hover {
  box-shadow: 2px 2px 3px #00bcd4;
}


  
/*section four E*/
/*section five pink S*/

.section-five-pink {
  width: 100%;
  background-color: #d92d73;
  float: left;

}

.maingroup {
  width: 100%;
  float: left;
  padding: 20px 0px 10px 0px;
  }

  .subgroup {
    width: 42%;
    float: left;
    padding: 0px 0px 0px 103px;
}

.member-one img {
    width: 127px;
    
    margin: -13px 0px 0px 0px;
    padding: 18px;
    display: block;
    float: left;
}

.member-two {
  width: 22%;
  float: left;
}

.member-two p {
    width: 412px;
    color: #fff;
    font-style: italic;
}

.member-two h3 {
  padding: 10px 0px 8px 0px;
  color: #fff;
}
.member-two h5 {
  color: yellow;
}


/*section five pink E*/

/*section six blue S*/

.section-six-blue {
  width: 100%;
  background-color: #2847a1;
  float: left;

}

.btttn {
  margin: 43px auto;
  display: block;
  background-color: #2ac1ec;
  color: #fff;
  padding: 15px 30px;
  transition: 0.10s ease;
    -webkit-transition: 0.10s ease;
    -moz-transition: 0.10s ease;
    -o-transition: 0.10s ease;
    /*box-shadow: 1px 2px 4px #00bcd4;*/
}



.btttn:hover {
  box-shadow: 2px 2px 3px #00bcd4;
}

.contact-form {
    width: 600px;
    margin: 0px auto;
    padding: 50px;
}

.form-control {
    width: 46%;
    height: 20px;
    float: left;
    margin: 0px 5px;
    padding: 5px;
    background-color: #0e3252;

}

.textarea {
    width: 96%;
    height: 140px;
    margin-top: 15px;
    padding: 10px;
    background-color: #0e3252;

}
/*section six blue E*/

footer {
    width: 100%;
    float: left;
    background-color: #223d8d;
}

footer nav ul {
    margin: 0px 108px;
  }

  footer nav ul {
    list-style: none;
}

footer nav ul li {
    margin: 0px 29px;
}

footer nav ul li {
    display: inline-block;
    padding: 16px 29px;
    margin: 0px 33px;
    font-size: 14px;
}

footer nav ul li a {
    text-decoration: none;
    color: #fff;
}


     